body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* header */
header {
  background: #35424a;
  color: #fff;
  padding-top: 30px;
  min-height: 70px; /* adjust height on responsive screen */
  border-bottom: #e8491d 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
}

header nav {
  float: right;
  margin-top: 10px;
}

header #branding h1 {
  margin: 0;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1414&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
  text-align: center;
  font-size: 45px;
  /* text-shadow: 2px 2px #35424a; */
  /* color: #e8491d; */
  /* -webkit-text-stroke: 2px #35424a; */
  color: white;
  display: flex;
  justify-content: center;
}
