html,
body {
  height: 100%; /* to put footer in the bottom */
}

body {
  font: 17px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Global */
.wrapper {
  /* to put footer in the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  width: 80%;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button_1 {
  padding: 8px 10px;
  background-color: #e8491d;
  color: white;
  border: 0;
}

.dark {
  background-color: #35424a;
  color: white;
  padding: 15px;
  margin: 15px 0;
}

/* header */
header {
  background: #35424a;
  color: #fff;
  padding-top: 30px;
  min-height: 70px; /* adjust height on responsive screen */
  border-bottom: #e8491d 5px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 5px 20px 0 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header #branding {
  /* float: left; */
}

header nav {
  /* float: right; */
  margin-top: 10px;
}

header #branding h1 {
  margin: 0;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1414&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
  text-align: center;
  /* text-shadow: 2px 2px #35424a; */
  /* color: #e8491d; */
  color: white;
}

#showcase h1 {
  margin-top: 0;
  font-size: 50px;
  padding: 100px 0 10px 0;
}

#showcase p {
  font-size: 25px;
  -webkit-text-stroke: 1px #4fb3cc;
}

/* newsletter */
#newsletter {
  color: white;
  background-color: #35424a;
}
#newsletter .container {
  display: flex;
  justify-content: space-between;
}

#newsletter h1 {
  /* float: left; */
}

#newsletter form {
  /*  float: right; */
  margin: 25px;
}

#newsletter input[type="email"] {
  padding: 6px;
  width: 177px;
}

/* Boxes */
#boxes {
  min-height: 300px;
}
#boxes .container {
  display: flex;
  flex-direction: row;
}

#boxes .box {
  text-align: center;
  padding: 10px;
}

/* font-awesome */
#boxes .box i {
  font-size: 120px;
  color: #e8491d;
}

.fa-css3-alt:before {
  color: #4fb3cc;
}

.fa-desktop:before {
  color: #35424a;
}

/* main-col - About.html*/
article#main-col {
  float: left;
  width: 60%;
}
article#main-col h1 {
  font-size: 25px;
}

/* Sidebar - About.html*/
aside#sidebar {
  float: right;
  width: 30%;
}

section#main:after {
  clear: both;
  content: "";
  display: table;
}

.wrapper-top {
  flex: 1 0 auto; /* to put footer in the bottom */
}

/* Services.html */
ul#services li {
  background-color: #e6e6e6;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

aside#sidebar .quote input,
textarea {
  width: 93%;
  padding: 7px;
  margin: 5px 0;
}

/* footer */
footer {
  flex: 0 0 auto; /* to put footer in the bottom */
  text-align: center;
  padding: 20px;
  background-color: #e8491d;
  color: white;
}
/* Media Queries */
@media (max-width: 768px) {
  header .container,
  #newsletter .container,
  #boxes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #newsletter form {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    padding-top: 50px;
    font-size: 40px;
  }

  #newsletter button {
    display: block;
    margin: 10px;
    width: 100%;
  }

  #newsletter form input[type="email"] {
    width: 98%;
    margin: 0;
    padding: 6px 0 6px 6px;
  }
  /* About.html*/
  article#main-col,
  aside#sidebar {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* Services */
  aside#sidebar button {
    width: 96%;
    margin-top: 10px;
  }
}
